In [1]:
#numpys

import numpy as np

mylist=[1,2,3,4]

mylist*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [11]:
#try the same with numpy

a=np.array([1,2,3,4])
print (a)#1d array

b=np.array([[9.0,8.0,7.0],[6.0,5.0,4.0]])
print(b)

print(b.ndim) #number of dimensions of array

print(b.shape)#get the shape

type(b)

print(np.array(mylist)*2) #multiplies each item in list by 2

[1 2 3 4]
[[9. 8. 7.]
 [6. 5. 4.]]
2
(2, 3)
[2 4 6 8]

In [14]:
#numpy is useful for:

#generate an array of zeros

a=np.zeros((3,2),dtype=int)#dtype argument is optional
print(a)

b=np.ones((3,2),dtype=int)#dtype argument is optional
print(b)

[[0 0]
 [0 0]
 [0 0]]
[[1 1]
 [1 1]
 [1 1]]

In [15]:
#generate random array

np.random.random((2,5))#returns random floats in the interval 0.0 - 1.0

array([[0.55483453, 0.13505886, 0.03071789, 0.41650523, 0.49887996],
       [0.12268689, 0.79998517, 0.84889865, 0.39014227, 0.13099208]])

In [16]:
np.random.random((2,3,4))

array([[[0.2253414 , 0.84066975, 0.21122247, 0.6734675 ],
        [0.53220068, 0.23716327, 0.37397156, 0.74154339],
        [0.90849347, 0.54880996, 0.06760978, 0.0313337 ]],

       [[0.5172355 , 0.92460349, 0.32268798, 0.41842887],
        [0.37496052, 0.49758897, 0.14379761, 0.42008026],
        [0.33053264, 0.38561555, 0.83028615, 0.61854821]]])

In [17]:
#equivalent to the range but in an array structure

np.arange(6,100)

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
       40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
       57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73,
       74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90,
       91, 92, 93, 94, 95, 96, 97, 98, 99])

In [18]:
np.arange(6,100,2)#numbers go 2 by 2

array([ 6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38,
       40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72,
       74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

In [19]:
np.arange(6,100,2, dtype=float)
#turn into 2d or 3d

array([ 6.,  8., 10., 12., 14., 16., 18., 20., 22., 24., 26., 28., 30.,
       32., 34., 36., 38., 40., 42., 44., 46., 48., 50., 52., 54., 56.,
       58., 60., 62., 64., 66., 68., 70., 72., 74., 76., 78., 80., 82.,
       84., 86., 88., 90., 92., 94., 96., 98.])

In [21]:
a=np.linspace(5.0,5000,10) #returns an evenly distributed number over a specific interval, in this case, 10 numbers
print(a)

[   5.  560. 1115. 1670. 2225. 2780. 3335. 3890. 4445. 5000.]

In [22]:
#indexing

ab=np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])

print(ab)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [24]:
ab[1,-2]

13

In [25]:
#how to get a specific row
#it also works without the :
ab[0,:]

array([1, 2, 3, 4, 5, 6, 7])

In [27]:
#specific column
ab[:,2]

array([ 3, 10])

In [28]:
#replace a value in the matrix

ab[1,5]=20
print(ab)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 20 14]]

In [36]:
#slicing using boolean vectores
#i just want the pairs

condition=a%2==0
print(condition)

print(a[condition])

[False  True False  True False  True False  True False  True]
[ 560. 1670. 2780. 3890. 5000.]

In [37]:
#one liner
print(a[a%2==0])

[ 560. 1670. 2780. 3890. 5000.]

#array=np.random.random

In [39]:
#math operations with arrays
c=np.array([1,2,3,4])
a*2

array([   10.,  1120.,  2230.,  3340.,  4450.,  5560.,  6670.,  7780.,
        8890., 10000.])

In [41]:
#performance of numpy

array=np.random.random((1000,1000))
print(array)

[[0.17997158 0.72681488 0.187703   ... 0.30683705 0.11370819 0.47110678]
 [0.44743306 0.2899762  0.66838995 ... 0.99548969 0.44741631 0.75739089]
 [0.25685219 0.15275675 0.16243397 ... 0.2923642  0.5444731  0.63144667]
 ...
 [0.51481791 0.10933646 0.56751595 ... 0.28472937 0.98188304 0.4823866 ]
 [0.82646047 0.29435993 0.85405885 ... 0.22603473 0.59884705 0.3066134 ]
 [0.24908333 0.42110835 0.98431405 ... 0.08563445 0.22525029 0.31783557]]

In [42]:
import time

t1=time.time()

newarray=array**2

t2=time.time()

print(newarray)
time_1=t2-t1

print(time_1)

[[0.03238977 0.52825986 0.03523242 ... 0.09414898 0.01292955 0.2219416 ]
 [0.20019634 0.0840862  0.44674512 ... 0.99099973 0.20018135 0.57364096]
 [0.06597305 0.02333462 0.02638479 ... 0.08547682 0.29645096 0.3987249 ]
 ...
 [0.26503748 0.01195446 0.32207436 ... 0.08107082 0.96409431 0.23269683]
 [0.68303691 0.08664777 0.72941652 ... 0.0510917  0.35861779 0.09401177]
 [0.0620425  0.17733224 0.96887415 ... 0.00733326 0.05073769 0.10101945]]
0.00774693489074707

In [43]:
#with np.square
t1=time.time()

newarray2=np.square(array)

t2=time.time()

print(newarray2)

time_2=t2-t1

print(time_2)

[[0.03238977 0.52825986 0.03523242 ... 0.09414898 0.01292955 0.2219416 ]
 [0.20019634 0.0840862  0.44674512 ... 0.99099973 0.20018135 0.57364096]
 [0.06597305 0.02333462 0.02638479 ... 0.08547682 0.29645096 0.3987249 ]
 ...
 [0.26503748 0.01195446 0.32207436 ... 0.08107082 0.96409431 0.23269683]
 [0.68303691 0.08664777 0.72941652 ... 0.0510917  0.35861779 0.09401177]
 [0.0620425  0.17733224 0.96887415 ... 0.00733326 0.05073769 0.10101945]]
0.006241798400878906

In [46]:
#aggregations and stats

print(array.sum())
print(array.mean())
print(array.max())

499744.3474918549
0.4997443474918549
0.999999415466757

In [47]:
x=np.array([[1,2,3],[4,5,6],[6,7,8]])
print(x)

[[1 2 3]
 [4 5 6]
 [6 7 8]]

In [48]:
x.mean()

4.666666666666667

In [49]:
x.mean(axis=1)#array with the means of each individual line

array([2., 5., 7.])

In [50]:
x.mean(axis=0)#array with the means of each individual column

array([3.66666667, 4.66666667, 5.66666667])

In [51]:
#NP methods

np.power(x,4)#ever element in array x to the power of 4

array([[   1,   16,   81],
       [ 256,  625, 1296],
       [1296, 2401, 4096]])

In [52]:
np.sum(x,axis=1)#sums every value in each line

array([ 6, 15, 21])

In [53]:
np.multiply(x,x)#every value in array x is mulitplied by themselves

array([[ 1,  4,  9],
       [16, 25, 36],
       [36, 49, 64]])

In [54]:
#reshape

#print(np.arange(6,100).reshape([47,2]))


print(np.arange(6,100).reshape([47,2,1]))

[[[ 6]
  [ 7]]

 [[ 8]
  [ 9]]

 [[10]
  [11]]

 [[12]
  [13]]

 [[14]
  [15]]

 [[16]
  [17]]

 [[18]
  [19]]

 [[20]
  [21]]

 [[22]
  [23]]

 [[24]
  [25]]

 [[26]
  [27]]

 [[28]
  [29]]

 [[30]
  [31]]

 [[32]
  [33]]

 [[34]
  [35]]

 [[36]
  [37]]

 [[38]
  [39]]

 [[40]
  [41]]

 [[42]
  [43]]

 [[44]
  [45]]

 [[46]
  [47]]

 [[48]
  [49]]

 [[50]
  [51]]

 [[52]
  [53]]

 [[54]
  [55]]

 [[56]
  [57]]

 [[58]
  [59]]

 [[60]
  [61]]

 [[62]
  [63]]

 [[64]
  [65]]

 [[66]
  [67]]

 [[68]
  [69]]

 [[70]
  [71]]

 [[72]
  [73]]

 [[74]
  [75]]

 [[76]
  [77]]

 [[78]
  [79]]

 [[80]
  [81]]

 [[82]
  [83]]

 [[84]
  [85]]

 [[86]
  [87]]

 [[88]
  [89]]

 [[90]
  [91]]

 [[92]
  [93]]

 [[94]
  [95]]

 [[96]
  [97]]

 [[98]
  [99]]]

In [55]:
#returns evenly spaced numbers over specific interval

a=np.linspace(5.0,5000,10)
print(a)

[   5.  560. 1115. 1670. 2225. 2780. 3335. 3890. 4445. 5000.]